@model Wardrobe.Models.Shoe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shoe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoePicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoePicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShoeOccasion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoeOccasion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothingType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothingType.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
