@model Wardrobe.Models.Bottom

@{
    ViewBag.Title = Model.BottomName;
}

<h1 class="item-name-title">@Model.BottomName</h1>

<div class="container details-image">
    <img src="@Html.DisplayFor(model => model.BottomPhoto)" alt="Item Image Not Loading.  Why'd you break it?" class="item-thumbnail-picture" />
</div>
<div class="row details-formatting">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 details-details">
        <h2>Color: @Model.BottomColor</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 details-details">
        <h2>Occasion: @Model.BottomOccasion</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 details-details">
        <h2>Season: @Model.BottomSeason</h2>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
